@for $i from 1 through 7 {
    @keyframes duck-fly-#{$i} {
        0% {
            left: -55px;
            top : random(80) + vh;
        }

        50% {
            left: 50%;
            top : random(80) + vh;
        }

        100% {
            left: 100%;
            top : random(80) + vh;
        }
    }
}

body {
    background-image   : url(https://i.ytimg.com/vi/i9R8MqilMW8/maxresdefault.jpg);
    background-position: center;
    background-size    : cover;
    height             : 100vh;
    counter-reset      : count;
    position           : relative;
}

h1 {
    position: absolute;
    bottom  : -16px;
    left    : 32px;
}

input[type="checkbox"] {
    /*position  : absolute;*/
    visibility: hidden;
    /*left      : -999999px;*/
}


@for $i from 1 through 7 {
    .duck-#{$i} {
        position : absolute;
        animation: duck-fly-#{$i} 5s linear #{$i}s 1 both;
    }
}

img {
    width: 50px;
}

input[type="checkbox"]:checked {
    counter-increment: count;
}

input[type="checkbox"]:checked+img {
    visibility: hidden;
    display   : none;
}

h1::after {
    content: ' 'counter(count);
}

.restart-btn {
    width: 70px;
    height: 25px;
    position: absolute;
    bottom  : 50px;
    left    : 32px;
}